body {
  background: #DEDDDC;
  color: #404040;
  font-size: 50px;
  font-family: sans-serif;
  font-weight: lighter;
  margin: 100px;
  padding: 0;
}
.html {
  /*background-color: #DAC2B3;
  background-image: url(../images/smallflower.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;*/
}
.page1 {
  background-image: url(../images/smallflower.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: right;
  height: 100%;
  width: 90%;
}
.page1 h1 {
  font-size: 120px;
  font-weight: lighter;
  color: white;
  margin-top: 100px;
  margin-left: 50px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.page1 h2 {
  font-size: 65px;
  font-weight: lighter;
  color: white;
  margin-top: -100px;
  margin-left: 50px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.page1 ul {
  font-size: 23px;
  font-weight: normal;
  margin-top: 50px;
  margin-left: 100px;
  /*padding: 5;*/
  text-align: left;
  list-style: none;
  line-height: 50px;
  font-family: 'Montserrat', sans-serif;
}
.page1 a:link {
  color: white;
  font-style: italic;
  text-decoration: none;
}
.page1 a:visited {
  color: #765A3E;
}
.page1 a:hover {
  color: #6A4E33;
  font-weight: bold;
  font-style: normal;
  font-size: 23px;
}
.columns1 {
  columns: 3;
  -webkit-columns: 3;
 -moz-columns: 3;
  float: left;
  position: relative;
  margin-bottom: 80px;
  column-gap: 300px;
}
.columns2 {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  float: left;
  padding-left: 325px;
  margin-bottom: 80px;
  column-gap: 300px;
}
.E1 {
  background: #9DA47E;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 25px;
  margin-top: 100px;
  margin-left: 200px;
}
.E1 h1 {
  margin-top: 10px;
  font-size: 90px;
  font-family: serif;
}
.E1 h2 {
  margin-top: 100px;
  margin-left: 10px;
  font-size: 35px;
  text-align: left;
  font-family: serif;
}
