body {
  background: #DAC2B3;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: lighter;
  margin: 100px;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
img {
  width: 100%;
}
.html {
  font-size: 16px;
}
.page1 {
  background-image: url(../images/smallflower.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: right;
  height: 100%;
  width: 90%;
}
main {
  width: 75vw;
  margin: 25px auto;
  display: flow-root;
}
.page1 h1 {
  font-size: 100px;
  font-weight: lighter;
  color: white;
  margin: 25px auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.page1 h2 {
  font-size: 40px;
  font-weight: lighter;
  color: white;
  font-family: 'Montserrat', sans-serif;
}
.col {
  width: 33.33%;
  float: left;
}
.col2 {
  width: 33.33%;
  float: left;
  margin-top: 87px;
}
.page1 ul {
  font-size: 25px;
  font-weight: normal;
  margin-left: auto;
  padding: 0;
  list-style: none;
  line-height: 40px;
  font-family: 'Montserrat', sans-serif;
}
.page1 a:link {
  color: white;
  font-style: italic;
  text-decoration: none;
}
.page1 a:visited {
  color: #765A3E;
}
.page1 a:hover {
  color: #6A4E33;
  font-weight: bold;
  font-style: normal;
  font-size: 23px;
}
.E1 {
  background: #9DA47E;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 25px;
  margin-top: 100px;
  margin-left: 200px;
}
.E1 h1 {
  margin-top: 10px;
  font-size: 90px;
  font-family: sans-serif;
  font-weight: lighter;
}
.E1 h2 {
  margin-top: 100px;
  margin-left: 10px;
  font-size: 35px;
  text-align: left;
  font-family: serif;
}
.E4 {
  font-size: 50px;
}
.E6 {
  font-size: 50px;
}
.e9 ul {
  font-size: 30px;
  text-align: center;
  list-style: none;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
.e9 h1 {
  text-align: center;
  font-size: 100px;
}
a:link {
  color: white;
  font-style: italic;
  text-decoration: none;
}
a:visited {
  color: #765A3E;
}
a:hover {
  color: #6A4E33;
  font-weight: bold;
  font-style: normal;
}
@media screen and (max-width: 900px) {
  .col {
    width: 100%;
    margin-bottom: 50px;
  }
  header {
    width: 90vw;
  }
  main {
    width: 90vw;
  }
  .page1 h1 {
    font-size: 3rem;
  }

}
