html {
  background-color: #DAC2B3;
}
body {
  font-family: 'Zilla Slab', serif;
  font-size: 20px;
  margin: 0 15% 0 15%;
  padding: 100px;
  background: rgba(243, 240, 238, 0.3)
}
h1 {
  font-size: 65px;
  text-align: center;
}
.intro {
  font-size: 20px;
  font-style: italic;
  text-align: center;
}
.author {
  font-size: 20px;
  font-style: italic;
  text-align: center;
}
.indent {
  text-indent: 50px;
}
ul {
  list-style-type: circle;
}
