* {
  box-sizing: border-box;
}
 html {
  /*background-color: #2D302D;*/
  color: white;
  font-family: 'Hind Guntur', sans-serif;
}
body {
  color: white;
  font-family: 'Hind Guntur', sans-serif;
  margin: 0;
}
main {
  background-color: #2D302D;
  display: flow-root;
  margin: 100px 0;
}
img {
  width: 100%;
}
/*------------Top page---------------------------*/
.home {
  background-image: url(../images/restaurant.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.menu {
  background-image: url(../images/crabnoodles2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}
header {
  background: rgba(76, 88, 74, .5);
  width: 100%;
  height: 100px;
  display: flow-root;
}
.logo {
  float: left;
  margin: 30px 40px;
  font-size: 30px;
}
nav {
  float: right;
}
nav ul {
  font-size: 20px;
  list-style: none;
  padding: 0;
  margin: 40px 0 0;
}
nav li {
  float: left;
  margin: 0 100px 0 0;
}
a:link {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #999C8D;
}
a:visited {
  color: white;
}
/*------------------------mid page---------------*/
h2 {
  text-align: center;
  font-style: italic;
  font-weight: lighter;
  margin: 0;
}
.title h2 {
  font-size: 110px;
  font-weight: lighter;
  font-style: normal;
  text-align: center;
  line-height: 80px;
}
.small-h2 {
  font-size: 65px;
}
.biglogo {
  padding: 150px 0 220px;
}
.border {
  background: none;
  padding: 50px;
  width: 900px;
  margin: 0 auto;
  border: 10px  solid rgba(255,255,255,.3);
}
.box {
  background-color: rgba(255,255,255,.14);
  padding: 100px;
  margin: 0 auto;
}
.logo2 { /*Menu Title*/
  text-align: center;
  font-size: 130px;
  position: absolute;
  top: 400px;
  left: 800px;
}
.info {
  display: flow-root;
  width: 950px;
  margin: 150px auto;
}
.about {
  text-align: center;
  font-size: 30px;
  font-weight: lighter;
  line-height: 45px;
}
hr {
  text-align: center;
  border-width: thin;
  width: 950px;
  color: white;
  opacity: 30%;
  display: flow-root;
  margin: 100px auto;
}
.location {
  text-align: center;
  font-size: 30px;
  font-weight: lighter;
  line-height: 45px;
  float: left;
  margin: 0;
  padding-bottom: 150px;
}
.hours {
  text-align: center;
  font-size: 30px;
  font-weight: lighter;
  line-height: 45px;
  float: right;
  margin: 0;
  padding-bottom: 150px;
}
.list {
  display: flow-root;
  margin: 0;
}
.col {
  width: 100%;
  margin: 0;
}
.col2 {
  width: 50%;
  float: left;
  font-size: 20px;
  text-align: center;
  margin: 0;
}
.col2 .info {
  width: 30%;
  text-align: left;
  margin: auto;
}
.col3 {
  width: 33%;
  float: left;
  font-size: 20px;
  text-align: center;
  margin: 0;
}
.col3 .info {
  width: 40%;
  text-align: left;
  margin: auto;
}
/*----------------Menu------------------*/
.type {
  font-size: 30px;
  padding-top: 10px;
  text-align: center;
  font-weight: lighter;
  background-color: #201F1E;
  width: 100%;
  height: 150px;
}
.s-title {
  padding: 40px 0 0 0;
}
.s-img {
  margin: 0;
  padding-top: 300px;
}
/*----------------bottom------------------*/
footer {
  text-align: center;
}
.footer {
  width: 100%;
  height: 280px;
  background-color: #1D211D;
  text-align: center;
  position: absolute;
  top: 2000px;
}
.contact {
  font-size: 30px;
  text-align: center;
  font-style: italic;
  margin-top: 70px;
}
.email {
  font-size: 20px;
  text-align: center;
  font-style: italic;
}
.phone {
  font-size: 20px;
  font-style: italic;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .col {
    width: 100%;
  }
}
