* {
  box-sizing: border-box;
}
 html {
  color: white;
  font-family: 'M PLUS 1p', sans-serif;
}
body {
  color: white;
  margin: 0;
  font-family: 'M PLUS 1p', sans-serif;
}
main {
  background-color: #2D302D;
  display: flow-root;
  margin: 0;
}
img {
  width: 100%;
}
/*------------Top page---------------------------*/
.home {
  background-image: url(../images/restaurant.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
.menu {
  background-image: url(../images/crabnoodles2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 100vh;
}
header {
  background: rgba(76, 88, 74, .5);
  width: 100%;
  height: 100px;
  display: flow-root;
}
.logo {
  float: left;
  margin: 30px 40px;
  font-size: 30px;
}
nav {
  float: right;
}
nav ul {
  font-size: 20px;
  list-style: none;
  padding: 0;
  margin: 40px 0 0;
}
nav li {
  float: left;
  margin: 0 100px 0 0;
}
a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
}
a:hover {
  color: #999C8D;
}

/*------------------------mid page---------------*/
h2 {
  text-align: center;
  font-style: italic;
  font-weight: lighter;
  margin: 0;
}
.title h2 {
  font-size: 110px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  line-height: 80px;
}
.small-h2 {
  font-size: 65px;
}
.biglogo {
  padding: 150px 0 220px;
}
.biglogo2 /*Menu*/ {
  padding: 200px 0 200px;
}
.border {
  background: none;
  padding: 50px;
  width: 900px;
  margin: 0 auto;
  border: 7px  solid rgba(255,255,255,.3);
}
.box {
  background-color: rgba(255,255,255,.14);
  padding: 100px;
  margin: 0 auto;
}
.logo2 { /*Menu Title*/
  text-align: center;
  font-size: 130px;
  position: absolute;
  top: 400px;
  left: 800px;
}
.info {
  display: flow-root;
  margin: 150px auto;
  font-weight: 300;
}
p {
  margin: 0;
  }
.about {
  text-align: center;
  font-size: 30px;
  font-weight: lighter;
  line-height: 45px;
  padding-top: 100px;
}
hr {
  text-align: center;
  border-width: thin;
  width: 950px;
  color: white;
  opacity: 30%;
  display: flow-root;
  margin: 100px auto;
}
.location {
  text-align: center;
  font-size: 30px;
  font-weight: lighter;
  line-height: 45px;
  padding: 0 0 0 400px;
}
.hours {
  text-align: center;
  font-size: 30px;
  font-weight: lighter;
  line-height: 45px;
  padding: 0 400px 0 0;
}
.list {
  display: flow-root;
  margin: 0;
}
.col {
  width: 100%;
  padding: 100px 650px 200px;
  font-size: 20px;
  text-align: center;
}
.col .info {
  width: 50%;
  font-size: 20px;
  text-align: left;
  margin: 0 auto;
}
.col2 {
  width: 50%;
  float: left;
  font-size: 20px;
  text-align: center;
  margin: 0;
  padding: 100px 0 150px;
}
.col2 .info, .col2 .s-title {
  width: 30%;
  text-align: left;
  margin: auto;
}
.col3 {
  width: 33%;
  float: left;
  font-size: 20px;
  text-align: left;
  margin: 0;
  padding: 100px 0px 200px;
}
.col3 .info, .col3 .s-title {
  width: 40%;
  text-align: left;
  margin: auto;
}
/*----------------Menu------------------*/
.type, .type p {
  font-size: 30px;
  padding-top: 10px;
  text-align: center;
  font-weight: lighter;
  background-color: #201F1E;
  width: 100%;
}
.s-title {
  font-weight: 500;
}
.s-img {
  margin: 0;
  padding-top:0;
}
.s-img img {
  display: block;
}
.type p {
  font-size: 20px;
  font-weight: lighter;
  font-style: italic;
  text-align: center;
  padding: 0 0 50px;
}
.info-fresh {
  width: 60%;
  padding: 0 ;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  font-weight: 300;
}
h3 {
  padding: 0 0 40px;
  font-weight: 700;
}
/*----------------bottom------------------*/
footer {
  text-align: center;
}
.footer {
  width: 100%;
  background-color: #1D211D;
  text-align: center;
  padding: 90px;
}
.contact {
  font-size: 30px;
  text-align: center;
  font-style: italic;
}
.email {
  font-size: 20px;
  text-align: center;
  font-style: italic;
}
.phone {
  font-size: 20px;
  font-style: italic;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .logo {
    margin: 10px 20px;
    font-size: 16px;
  }
  nav ul {
    font-size: 16px;
    padding: 0;
    margin: 20px 0 0;
  }
  nav li {
    margin: 0 50px 0 0;
  }
  h2 {
    font-size: 16px;
  }
  .title h2 {
    font-size: 40px;
    line-height: 40px;
  }
  .small-h2 {
    font-size: 25px;
  }
  .biglogo {
    padding: 200px 0;
  }
  .border {
    padding: 15px;
    width: 400px;
    border: 4px solid rgba(255,255,255,.3);
  }
  .box {
    padding: 30px;
  }
  .info {
    margin: 50px auto;
  }
  .about {
    font-size: 20px;
    line-height: 35px;
    margin: 0 50px;
  }
  hr {
    width: 300px;
  }
  .location, .hours{
    font-size: 20px;
    line-height: 35px;
  }
  .col {
    width: 100%;
    padding: 50px 20px 100px;
    font-size: 16px;
  }
  .col, .info, .s-title {
    width: 100%;
    font-size: 16px;
  }
  .col2 {
    width: 100%;
    padding: 0px 100px 100px;
  }
  .col2 .info, .col2 .s-title {
    width: 100%;
    margin: auto;
  }
  .col3 {
    width: 100%;
    font-size: 16px;
    padding: 50px 100px 100px;
  }
  .col3 .info, .col3 .s-title {
    width: 100%;
  }
  .type, .type p {
    font-size: 20px;
  }
  .s-title {
    padding: 40px 0 0;
  }
  .s-img img {
    display: block;
  }
  .type p {
    font-size: 17px;
    padding: 0 30px 50px;
  }
  .info-fresh {
    width: 100%;
    padding: 0 100px 0;
    font-size: 16px;
    text-align: left;
  }
  .contact {
    font-size: 20px;
  }
  .email, .phone{
    font-size: 16px;
  }
}
