* {
  box-sizing: border-box;
}
body {
  margin: 0;
  /*background-color: #DAC2B3;*/
}
 html {
  /*background-color: #2D302D;*/
  color: white;
  font-family: 'Inter', sans-serif;
}
body {
  background-color: #2D302D;
  color: white;
  font-family: 'Inter', sans-serif;
  margin: 0;
}
/*------------Top page---------------------------*/
.home {
  background-image: url(../images/restaurant.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;


}
.menu {
  background-image: url(../images/crabnoodles2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}
header {
  background-color: #4C584A;
  width: 100%;
  height: 100px;
  opacity: 49%;
  display: flow-root;
}
.logo {
  float: left;
  margin: 30px 40px;
  font-size: 30px;
}
nav {
  float: right;
}
nav ul {
  font-size: 20px;
  list-style: none;
  padding: 0;
  margin: 40px 0 0;
}
nav li {
  float: left;
  margin: 0 100px 0 0;
}
a:link {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
}
/*------------------------mid page---------------*/
.biglogo {
  padding: 200px 0;
}
.box {
  background: white;
  padding: 100px;
  width: 800px;
  height: 400px;
  margin: auto;
  opacity: 14%;
}
.box2 {
  background: none;
  padding: 100px;
  width: 900px;
  height: 500px;
  margin: 0 auto;
  opacity: 30%;
  border: 10px solid white;
  position: absolute;
  left: 500px;
  top: 250px;
}
.box3 { /*Menu Box*/
  background: white;
  padding: 100px;
  width: 800px;
  height: 400px;
  margin: 100px auto;
  opacity: 14%;
}
.Pines {
  text-align: center;
  font-size: 100px;
  position: absolute;
  top: 370px;
  left: 775px;
}
.of {
  text-align: center;
  font-size: 50px;
  position: absolute;
  top: 420px;
  left: 1060px;
}
.Nowhere {
  text-align: center;
  font-size: 100px;
  position: absolute;
  top: 480px;
  left: 725px;
}
h2 {
  text-align: center;
  font-style: italic;
  font-weight: lighter;
  position: absolute;
  top: 190px;
  left: 900px;
}
.about {
  text-align: center;
  font-size: 30px;
  font-weight: lighter;
  line-height: 45px;
  position: absolute;
  top: 1150px;
  left: 495px;
}
hr {
  border-width: thin;
  width:1000px;
  color: white;
  opacity: 30%;
  position: absolute;
  top: 1400px;
  left: 455px;
}
.location {
  text-align: center;
  font-size: 30px;
  font-weight: lighter;
  line-height: 45px;
  position: absolute;
  top: 1550px;
  left: 500px;
}
.hours {
  text-align: center;
  font-size: 30px;
  font-weight: lighter;
  line-height: 45px;
  position: absolute;
  top: 1550px;
  left: 1050px;
}
footer {
  text-align: center;
}
.footer {
  width: 100%;
  height: 280px;
  background-color: #1D211D;
  position: absolute;
  top: 2000px;
}
.contact {
  font-style: italic;
  position: absolute;
  top: 20px;
  left: 890px;
}
.email {
  font-style: italic;
  position: absolute;
  top: 40px;
  left: 890px;
}
.phone {
  font-style: italic;
  position: absolute;
  top: 60px;
  left: 890px;
}
